<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1>BasicTHMChatApp</h1>
    <form method="post" th:action="@{/login}" th:object="${credentials}">
        <h2>Login</h2>
        <input type="text" name="username" id="username" placeholder="Username" th:field="*{username}">
        <input type="password" name="password" id="password" placeholder="Password" th:fild="*{password}">
        <input type="submit" value="Login">
    </form>
</body>
</html>